<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    
    <bean class="simple2.bean.Teacher" id="teacher1">
    
    
    <!--  set value -->
    <property name="id" value="10001"></property>
    
    <property name="name" value="Md Raja Alam"></property>
    
    <property name="addresse" value="Gondapur Nawada"></property>
    
   
    
    </bean>
    
    </beans>